!!! 5
%html
  %head
    %title Credit Card API
    %link{ rel: 'stylesheet', type: 'text/css', href: '/custom.css' }
  %body
    %h1 Welcome to our Credit Card Client APP
    - if @current_user
      :markdown
        Welcome #{@current_user.username} | [Home](/)
        | [Profile](/user/#{@current_user.username}) | [Services](/services)
        | [Logout](/logout)
    - else
      :markdown
        [Login](/login) | [Register](/register)
    = haml :flash_bar
    = yield
