%h2 Services
%ul
  %li
    %a{ href: '/credit_card' }
      Register a card
  %li
    %a{ href: '/credit_card/all' }
      Retrieve cards
  %li
    %a{ href: '/credit_card/validate' }
      Validate a card number
