%h2 Validate a credit card number
%form{ action: '/api/v1/credit_card/validate/', method: 'get', id: 'user-form' }
  %label{ for: 'card_number' } Credit Card:
  %input{ type: 'text', name: 'card_number', id: 'card_id' }
  %input{ type: 'submit', id: 'validate-form-submit', value: 'submit' }
